@font-face{
font-family: "Benguiat Frisky", Benguiat Frisky;
}
form{
background-color: #00cc66;
}
h1{
  text-align: center;
  font-size: 1.6em;
  padding-top: 6px;
  padding-bottom: 8px
  font-weight: bold;
}

div{
padding-bottom: 25px;
font-size: 30px;
text-align: left;
}

label{
display: inline;;
}

body{
font-family: Benguiat Frisky;
text-align: left;
padding-top: 2em;
padding-right: 9em;
padding-bottom: 5em;
padding-left: 9em;
background-color: #00cc66;
}

legend{
text-align: center;
font-size: 25px;
font-family: cursive;
color: white;
}
fieldset{
padding: 20px;
padding-right: .25em;
padding-bottom: 25px;
padding-left: .25em;
border: 2px solid black;
border-color: black;
}

/* Mobile first css */

@media screen and (max-width: 960px) {
body{
  font-size: 0.750em;
  line-height: 1em;
}
form{
  background-color: #00cc66;
}
fieldset{
  padding-left: 20%;
  padding-right: 2%;
  width: 50%;
  height: auto;
}
legend{
  text-align: center;
}
footer{
  text-align: center;
  /* margin: 2%; */
  font-weight: bolder;
  padding-top: 7%;
  padding-left: 7%;
  padding-right: 7%;
}
.Form{
  width: 50%;
  height: 50%;
}
label{
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
  color: red;
  padding-left: 9px;
  padding-right: 9px;
}
div{
  padding-bottom: 25px;
  font-size: 30px;
  text-align: left;
}
.submit{
  text-align: center;
}
input[type="text"]{
  width: 100%;
}
input[type="email"]{
  width: 100%;
}
input[type="tel"]{
  width: 100%;
}
input[type="date"]{
  width: 100%;
}
}
footer{
text-align: center;
margin: 2%;
font-weight: bolder;
}
.submit{
text-align: center;
margin-top: 35px;
margin-left: 30px;
}
input[type="text"]{
width: 500px;
}
input[type="email"]{
width: 500px;
}
input[type="tel"]{
width: 450px;
}
input[type="date"]{
width: 270px;
}
