@font-face{
font-family: "Benguiat Frisky", Benguiat Frisky;
}
form{
background-color: #00cc66;
}
h1{
  text-align: center;
  font-size: 1.6em;
  padding-top: 6px;
  padding-bottom: 8px
  font-weight: bold;
}

div{
  padding-bottom: 25px;
    font-size: 30px;
    text-align: left;
}

label{
  padding-left: .25em;
  padding-right: .25em;
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 1.1em;
}

body{
font-family: 'Benguiat Frisky', Benguiat Frisky;
text-align: left;
padding-top: 3em;
padding-right: 5em;
padding-left: 5em;
}

legend{
padding: 2px;
font-size: 1.3em;
border: 2px solid;
color: white;
}
form{
  background-color: #00cc66;
}
fieldset{
padding: 20px;
padding-right: .25em;
padding-bottom: 25px;
padding-left: .25em;
border: 2px solid black;
border-color: black;
}

/* Mobile first css */

@media screen and (max-width: 960px) {
body{
  font-size: 0.750em;
  line-height: 1em;
}
form{
  background-color: #00cc66;
}
